.header {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 10px 20px; 
  background-color: #000; 
  color: #fff; 
  position: relative; 
}

.title {
  text-align: center;
  flex: 1;
}

.logo {
  position: absolute; 
  right: 20px; 
  height: 50px; 
  width: auto; 
}  